.mis-certificados-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  padding: 20px;
}

.mis-certificados-titulo {
  color: var(--textprimario);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.mis-certificados-mensaje {
  color: var(--text-secondary);
  font-size: 1.2rem;
  font-style: italic;
}