


.navigation-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px; /* posisionado en la esquina inferior derecha*/
  z-index: 1000;
}

.navigation-button {
  font-size: 1.8rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.3s ease;
  color: inherit;
}

.navigation-button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}
