
.navigation-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px; /* posisionado en la esquina inferior derecha*/
  z-index: 1000;
}

.navigation-button {
  font-size: 1.8rem;
  background: var(--colorCard);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--textprimario);
}

.navigation-button:hover {
  background: var(--secondary-bg);
  transform: scale(1.1);
}