
.perfil-content {
  max-width: 500px;
  margin: 0 0 0 auto; /* Alinea a la derecha */
  padding: 20px;
 
}

.perfil-header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
}

/*Titulo*/
.perfil-header h1 {
  color: var( --textprimario);
  font-size: 2rem;
}

.perfil-section {
  background: var(--colorCard);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px var(--shadow-color);
}

/*linea y titulos de las tarjetas*/
.perfil-section h2 {
  color: var(--textprimario);
  border-bottom: 2px solid var(--textprimario);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.info-item label {
  font-weight: bold;
  color: var(--text-secondary);
  min-width: 200px;
}

.info-item span {
  color: var(--textprimario);
  text-align: right;
  flex: 1;
}

/* Layout general */
.perfil-layout {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}   

.foto-container {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-placeholder {
  width: 400px;
  height: 400px;
  border: 2px dashed var(--border-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorBarra);
  cursor: pointer;
  margin-bottom: 10px;
}

.foto-placeholder:hover {
  border-color: var(--colorBotones);
  background: var(--colorCard);
}

/* Texto detro de recuadro para subir imagen*/
.foto-placeholder span {
  color: var(--text-secondary);
  font-weight: bold;
}
.foto-input {
  width: 100%;
}

.perfil-content {
  flex: 1;
  max-width: 500px;
}

/* Estilo para la imagen */
.foto-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* Responsive */
@media (max-width: 768px) {
  .info-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  
  .info-item label,
  .info-item span {
    min-width: auto;
    text-align: left;
  }
}